aiohttp==3.13.5
beautifulsoup4==4.14.3
elasticsearch==9.3.0
feedparser==6.0.12
ftfy==6.3.1
gliner==0.2.26
langdetect==1.0.9
nats_py==2.14.0
newspaper3k==0.2.8
numpy==2.4.4
onnxruntime==1.24.4
optimum==2.1.0
optimum_onnx==0.1.0
psycopg==3.3.3
rapidfuzz==3.14.5
tldextract==5.3.1
torch==2.11.0
transformers==4.57.6
